{{#each reviews as |review|}}
<div>
  <hr>
  <h1> <small>{{review.book.title}} by {{review.book.author_first_name}} {{review.book.author_last_name}}
  <br>
    Review id: {{review.id}}
  </small></h1>
  <button type="button" class='show-me-review-modal'>TEST</button>
  <hr>
</div>
{{/each}}
