$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  // background-image: url('./img/single-book.jpg');
  background-size: cover;
}

.navbar {
  background-color: #404040;
  margin-bottom: 0;
  padding: 10px;
}

#sign-up {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 3px;
  display: none;
  margin: 5px auto;
  padding: 15px;
  position: relative;
  // top: 100px;
  width: 300px;
}

.sign-up-button {
  text-align: center;
}

.show-sign-up {
  // float: left;
  border: 5px solid #000;
  bottom: 70px;
  font-weight: 600;
  // display: inline;
  left: 250px;
  // margin: 0 auto;
  position: absolute;
}

#sign-in {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 3px;
  display: none;
  margin: 5px auto;
  padding: 15px;
  position: relative;
  // top: 100px;
  width: 300px;
}

.show-sign-in {
  // float: left;
  border: 5px solid #000;
  bottom: 70px;
  font-weight: 600;
  // display: inline;
  // margin: 0 auto;
  position: absolute;
  right: 250px;
}

// .sign-in-button {
//   text-align: center;
//   margin: 0 auto;
// }

.left {
  text-align: left;
}

.book-search {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.search-input {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.ch-pwd {
  // position: fixed;
  // right: 20px;
  // float: right;
}

.user-messages {
  color: #fff;
  font-weight: 500;
}

// .intro {
//   border: 2px solid green;
// }

.title-before {
  background-image: url('./img/kindle-on-bookshelf.jpg');
  background-repeat: no-repeat center fixed;
  background-size: cover;
  // border: 2px solid magenta;
  color: #fff;
  height: 500px;
}

.main-title {
  bottom: 10px;
  font-size: 90px;
  margin-top: 0;
  padding-top: 24px;
  position: relative;
  text-align: center;
}

.about-bookshelf {
  background-color: #000;
  border: 2px solid #404040;
  border-radius: 5px;
  color: #fff;
  font-size: 1.175em;
  font-weight: 600;
  left: 5px;
  padding: 5px 2px 3px 5px;
  position: absolute;
  top: 510px;
  width: 33%;
}

.about-library {
  background-color: #000;
  border: 2px solid #404040;
  border-radius: 5px;
  color: #fff;
  font-size: 1.175em;
  font-weight: 600;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 510px;
  width: 33%;
}

.below-image {
  background-color: #404040;
  background-size: cover;
  border-top: 2px solid #fff;
  // clear: both;
  height: 200px;
}

.form-check {
  display: inline;
}

// .dropdown {
//   position: relative;
// }

.display-inline {
  display: inline-flex;
  float: left;
}

.signed-in {
  display: none;
}

.one-book {
  height: auto;
  padding: 1em;
  width: 300px;
}

.middle {
  margin: 1em;
  text-align: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.whose-id {
  padding: 1em;
  width: 50%;
}

.view-reviews {
  display: none;
}

.sign-out {
  text-align: center;
}

.dropdown-menu {
  padding: 1em;
}

.book-cover {
  background-color: wheat;
  border: 6px double black;
  font-family: fantasy;
  height: 250px;
  margin: auto;
  padding: 1em;
  width: 200px;
}

.one-book-box {
  border: 2px solid cyan;
  float: left;
  margin: 0 5px 5px 0;
  max-height: 500px;
  overflow: auto;
  width: 300px;
}

.add-a-review {
  border: 2px solid orange;
  margin: 0 auto;
  width: 80%;
}

.bookshelf {
  clear: both;
}
