$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.form-check {
  display: inline;
}

.dropdown {
  position: relative;
}

.display-inline {
  display: inline;
}

.signed-in {
  display: none;
}

.one-book {
  height: auto;
  padding: 1em;
  width: 300px;
}

.get-all-books {
  text-align: center;
}

.center {
  margin: auto;
  text-align: center;
}
